.header{
    min-height: 50px;
    background-color: var(--bg-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    color: var(--text-color);
    position: relative;
    z-index: 1;
}
.header:focus{
   border: none;
   outline: none;
}
.link:hover{
    color: var(--bg-dark);
}

.avatar{
    width: 50px;
    border-radius: 50px;
}

.avatar:hover{
    cursor: pointer;
}

.avatarContainer{
    position: relative;
    z-index: 2;
}