.container{
    width: 40%;
    margin: auto;
    background-color: var(--text-color);
    padding: 20px 15px;
    margin-top: 25px;
    border-radius: 3px 3px 0px 0px;
    margin-top: 20px;
}

.signupForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
 
}

.title{
    text-align: center;
}

.formLabel{
    margin-top: 8px;
    font-size: 18px;
}
.input{
    height: 35px;
    outline: none;
    border: none;
    background-color: var(--border-color);
    padding-left: 10px;
    font-size: 16px;
}
.signupBtn{
    height: 40px;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 3px;
    background-color: var(--bg-light);
    color:var(--text-color);
}
.loginBtn:hover{
    color: var(--bg-hdark);
}

@media screen and (max-width:900px) and (min-width:768px) {
    .container{
        width: 70%;
        margin: 20px auto;

    }
    
}

@media screen and (max-width:767px) {
    .container{
        width: 90%;
        margin: 20px auto 0px;
    }
    

}