*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}
:root{
    --bg-dark:#036a6a;
    --bg-light:#0ac8c8;
    --bg-hdark:#004343;
    --text-color:#ffffff;
    --border-color:#0ac8c81d;;

}
a{
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
}

input[type="submit"]:hover{
    cursor: pointer ;
}